* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #FAF7FF;
    font-family: Trispace, sans-serif;
    padding-bottom: 70px;
}

/* ---- header ---- */

.header {
    text-align: center;
    margin: 4%;
    color: #4A4453;
    font-size: 280%;
}

/* ---- game layout ---- */

#game-area {
    text-align: center;
    margin: 5%;
}

h2 {
    text-align: center;
    margin: 4%;
    color: #4D4160;
    font-size: 200%;
}

#result-container {
    text-align: center;
    color: #4D4160;
    margin: 5%;
    font-size: 150%;
}

.score-area {
    text-align: center;
    font-size: 170%;
    color: #4D4160;
    padding: 0% 0% 2% 0%;
}

.scores {
    display: block;
}

.instructions {
    text-align: center;
    color: #4A4453;
    font-size: 100%;
    margin-top: 5%;
}

.instructions > p {
    font-size: 115%;
    margin: 1%;
}

/* ---- buttons ---- */

button {
    border-radius: 50%;
    border: 0px;
    width: 180px;
    height: 180px;
    background-color: #fdfeff;
    margin: 0% 2% 0% 2%;
}

button:hover {
    background-color: #4A4453;
}

button:focus {
    background-color: #4A4453;
}

/* ---- footer and social media links ---- */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    list-style: none;
}

.social-networks i {
    color: #4A4453;
    font-size: 160%;
    margin: 1%;
    padding: 3% 0% 2% 0%;
}

/* ---- media queries ---- */

@media screen and (max-width: 350px) {

.game-area {
    width: 100%;
}

.header {
    font-size: 150%;
}

h2 {
    font-size: 70%;
}

.weapon {
    font-size: 120%;
    padding: 5%;
}

button {
    width: 50px;
    height: 50px;
    margin: 2%;
}

img {
    width: 40px;
}

.score-area {
    font-size: 120%;
    padding: 2%;
}

#result-container {
    font-size: 100%;
}

.instructions {
    font-size: 80%;
    margin: 2%;
    padding: 5%;
}

}

@media screen and (max-width: 768px) {

    .game-area {
        width: 100%;
    }
    
    .header {
        font-size: 200%;
    }
    
    .weapon {
        font-size: 150%;
        padding: 2%;
    }
    
    button {
        width: 90px;
        height: 90px;
    }

    img {
        width: 80px;
    }
    
    .score-area {
        font-size: 150%;
    }
    
    #result-container {
        font-size: 120%;
    }
    
    .instructions {
        font-size: 80%;
        margin: 2%;
    }
    
    }