* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #FAF7FF;
    font-family: Trispace, sans-serif;
    padding-bottom: 100px;
}

body > h2 {
    text-align: center;
    font-size: 200%;
    color: #8599C1;
}

#header {
    text-align: center;
    margin: 4%;
    color: #6694A0;
    font-size: 280%;
}

#game-area {
    text-align: center;
    margin: 5%;
}

.rpsls-btn {
    border-radius: 50%;
    border: 0px;
    width: 180px;
    height: 180px;
    background-color: #fdfeff;
    margin: 0% 2% 0% 2%;
}

.rpsls-btn:hover {
    background-color: #9BCAD7;
}

.rpsls-btn:focus {
    background-color: #9BCAD7;
}

#result-container {
    color: #324A51;
    text-align: center;
    margin: 5%;
    font-size: 150%;
}

.score-area {
    text-align: center;
    font-size: 180%;
    color: #8599C1;
    padding: 0% 0% 2% 0%;
}

.scores {
    display: block;
}

.instructions {
    text-align: center;
    color: #324A51;
    font-size: 100%;
    margin-top: 5%;
}

.instructions > p {
    font-size: 115%;
    margin: 1%;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    list-style: none;
}

.social-networks i {
    color: #324A51;
    font-size: 160%;
    margin: 1%;
    padding: 3% 0% 2% 0%;
}